<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head">

    <title>Hello Spring MVC</title>

    <link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<header th:replace="layout :: site-header"></header>
<div class="container">
    <div class="form-group">
        <label for="mesure">Mesure:</label>
        <select id="mesure" name="mesure" class="form-control">
        </select>
    </div>
    <div class="form-group">
        <label for="valeur">Valeur:</label>
        <select id="valeur" name="valeur" class="form-control">
        </select>
    </div>
        <button id="add" class="btn btn-primary">Add mesure</button>
    </form>

</div>
<footer th:replace="layout :: site-footer"></footer>
<script>
    $(document).ready(function () {
        $.ajax({
            url: "/patient/mesuresValue",
            type: "GET",
            success: function (mesures) {
                for (mesure in mesures) {
                    $("#mesure").append("<option value='" + mesures[mesure].mesure.mesureId + "'>" + mesures[mesure].mesure.libelle + "</option>")
                }
            }
        });
        $("#add").click(function(){
            var mesure = $("#mesure").val();
            var valeur = $("#valeur").val();
            $.ajax({
                url: "/patient/mesures",
                type: "POST",
                data: {"mesure":mesure,"valeur":valeur},
                success: function (mesures) {
                    for (mesure in mesures) {
                        $("#mesure").append("<option value='" + mesures[mesure].mesure.mesureId + "'>" + mesures[mesure].mesure.libelle + "</option>")
                    }
                }
            });
        });
    });
</script>
</body>
</html>