<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:form="http://www.w3.org/1999/xhtml">
<head th:replace="layout :: site-head">

    <title>Hello Spring MVC</title>

    <link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<header th:replace="layout :: site-header"></header>
<div class="container">
    <table class="table table-striped">
        <tr>
            <th>Patient</th>
            <th>Medecin</th>
            <th>Maladie</th>
            <th>Observation</th>
            <th>Date consultation</th>
        </tr>
        <tr th:each="consultation:${consultations}">
            <td th:text="${consultation.patient.name}"></td>
            <td th:text="${consultation.medecin.name}"></td>
            <td th:text="${consultation.maladie.libelle}"></td>
            <td th:text="${consultation.observation}"></td>
            <td th:text="${consultation.dateConsultation}"></td>
        </tr>
    </table>
</div>
<footer th:replace="layout :: site-footer"></footer>
</body>
</html>