<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="site-head">
	<meta charset="UTF-8" />
	<link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
	<header th:fragment="site-header">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">Cabinet medical</a>
				</div>
				<ul class="nav navbar-nav">
					<li class="active"><a href="/">Home</a></li>
					<li><a href="/login">Login</a></li>
					<li><a href="/register">Register</a></li>
                    <li><a href="/medecin">Medecin</a></li>
					<li><a href="/patient">Patient</a></li>
                    <li><a href="/logout">logout</a></li>
				</ul>
			</div>
		</nav>
	</header>
	<footer th:fragment="site-footer"> 
		&copy; Gestion cabinet medical, 2018
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script th:src="@{/resources/js/bootstrap.min.js}"></script>
	</footer>
</body>
</html>