<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head">

    <title>Hello Spring MVC</title>

    <link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<header th:replace="layout :: site-header"></header>
<div class="container">

    <form method="POST" action="/register">
        <div class="form-group">
            <label for="name">Full name:</label>
            <input type="text" class="form-control" id="name">
        </div>
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="text" class="form-control" id="password">
        </div>
        <div class="form-group">
            <label for="role">Password:</label>
            <select id="role" name="role" class="form-control">
                <option th:value="ROLE_PATIENT">Patient</option>
                <option th:value="ROLE_MEDECIN">Medecin</option>
            </select>
        </div>

        <input type="submit" value="Register" class="btn btn-primary"/>
    </form>

</div>
<footer th:replace="layout :: site-footer"></footer>
</body>
</html>